


html{
    font-family: 'Poppins', sans-serif; 
   
}


.carousel-first {
    padding-top: 30px;
    padding-bottom: 30px;
}

img{
    max-width: 100%;
}

.categor{
    position: relative;
}

.dr{
    position: static;
}

.dr:hover > .dropdown-menu {
    display: block;
    position: absolute;
    top: 0;
    height: 270px;
    width: 700px;
    padding-left: 15px;
    padding-top: 15px;
    font-size: 20px;
    
}






.tabs{
    padding: 15px 30px;
    background-color: rgba(235, 229, 229, 0.5);
}


.nav-tabs-border-radius{
    border-radius: 50px;
}



.someproduct{
    text-decoration: none;
    color: black;
}

.someproduct:hover{
    color: black !important;
}

.someshadow:hover{
    box-shadow: 1px 1px 3px #0d6efd;
}




.footer-container{
    background-color: white;
    padding: 35px;
}

.footer-links{
    text-decoration: none;
    color: black;
}

.footer-list{
    list-style: none;
}

.footer-icons{
    display: inline-block;
    padding: 3px;
}





.scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    
}
.card {
      flex: 0 0 auto;
}

/* 
.card-body{
    height: 200px;
} */

.productname{
    background: rgb(14, 14, 112);
}


.mynav{
    display: flex;
    align-items: flex-end;
    justify-content: end;
}

.category-heading{
    background: #303030 none repeat scroll 0 0;
    color: #fff;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 1px;
    padding: 10px 10px 10px 30px;
    position: relative;
    text-transform: uppercase;
    transition: all .3s ease 0s;
   
}

.category-heading:hover{
    color:#ff4136;
    
   
}


.category-title{
    font-variant-ligatures: common-ligatures;
    margin-top: 0;
    margin-bottom: 0;
}


.dr a:hover{
    color:#ff4136;
    background-color: #f9f9f9;
}

.dr a{
    display: block;
    font-size: 14px;
    letter-spacing: 0.4px;
    padding: 10px 20px;
    text-transform: capitalize;
    background-color: #fff;
    transition: all .3s ease 0s;
}


.whatsapp-button{
    
        background: none repeat scroll 0 0;
        font-weight: normal;
        letter-spacing: 1px;
        position: relative;
        text-transform: uppercase;
        transition: all .3s ease 0s;
       
    
}

