{% extends 'shop/index.html' %}
{% load static %}

{% block title %}
Магазин
{% endblock %}

{% block content %}
<section class="tabs">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'home' %} " class="text-decoration-none">Главная</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{ current_category }}</li>
        </ol>
      </nav>
    <div class="container-xxl">
        <h2>{{ current_category }}</h2>
        <div class="row">
            {% for subcat in subcategory %}
            <div class="col-6 col-sm-6 col-md-4 col-lg-3 p-0 subcategories">
                <div class="card h-100">
                    <a href="/shop/{{ subcat.category.pk }}/{{subcat.pk}}/" class="text-decoration-none">
                    <img src="{{ subcat.img.url }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center fs-6">{{ subcat.name }}</h5>
                        <!-- <p class="card-text"></p>
                        <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}